<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore" version="8.1.160302.206" targetFramework="net452" allowedVersions="[8.1.160302.206]" />
  <package id="Sitecore.Client" version="8.0.150121.72" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.ContentSearch" version="8.1.160302.206" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Linq" version="8.1.160302.206" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.Kernel" version="8.0.150121.72" targetFramework="net45" developmentDependency="true" />
  <package id="Unic.Bob.Muck" version="2.0.0" targetFramework="net452" developmentDependency="true" />
</packages>