* text=auto !eol
Data/serialization/core/sitecore/content/Documents[!!-~]and[!!-~]settings/All[!!-~]users/Start[!!-~]menu/Programs/Redirect[!!-~]Importer.item -text
Data/serialization/master/sitecore/templates/Unic.item -text
Data/serialization/master/sitecore/templates/Unic/UrlMapping.item -text
Data/serialization/master/sitecore/templates/Unic/UrlMapping/Common.item -text
Data/serialization/master/sitecore/templates/Unic/UrlMapping/Common/Redirect[!!-~]Folder.item -text
Data/serialization/master/sitecore/templates/Unic/UrlMapping/Common/Redirect[!!-~]Folder/__Standard[!!-~]Values.item -text
Data/serialization/master/sitecore/templates/Unic/UrlMapping/Data.item -text
Data/serialization/master/sitecore/templates/Unic/UrlMapping/Data/Redirect.item -text
Data/serialization/master/sitecore/templates/Unic/UrlMapping/Data/Redirect/Configuration.item -text
Data/serialization/master/sitecore/templates/Unic/UrlMapping/Data/Redirect/Configuration/Redirect[!!-~]URL.item -text
Data/serialization/master/sitecore/templates/Unic/UrlMapping/Data/Redirect/Configuration/Search[!!-~]URL.item -text
Data/serialization/master/sitecore/templates/Unic/UrlMapping/Data/Redirect/__Standard[!!-~]Values.item -text
Modules.UrlMapper.Solution/Unic.SitecoreCMS.Modules.UrlMapper.sln -text
Modules.UrlMapper.Website/App_Config/Include/Unic.Modules.UrlMapper.config -text
Modules.UrlMapper.Website/Properties/AssemblyInfo.cs -text
Modules.UrlMapper.Website/Unic.SitecoreCMS.Modules.UrlMapper.Website.csproj -text
Modules.UrlMapper.Website/build/Compress.targets -text
Modules.UrlMapper.Website/build/CopyFiles.targets -text
Modules.UrlMapper.Website/build/Deploy.targets -text
Modules.UrlMapper.Website/build/Hardening.targets -text
Modules.UrlMapper.Website/build/ModuleToWeb.target -text
Modules.UrlMapper.Website/build/PostBuild.targets -text
Modules.UrlMapper.Website/build/PreBuild.targets -text
Modules.UrlMapper.Website/build/Servertype.props -text
Modules.UrlMapper.Website/build/deploy-test.bat -text
Modules.UrlMapper.Website/build/deploy.bat -text
Modules.UrlMapper.Website/deploy.txt -text
Modules.UrlMapper.Website/deploy.txt.dist -text
Modules.UrlMapper.Website/lib/Sitecore.Client.dll -text
Modules.UrlMapper.Website/lib/Sitecore.Kernel.dll -text
Modules.UrlMapper.Website/lib/Unic.SitecoreCMS.Framework.dll -text
Modules.UrlMapper.Website/lib/Unic.SitecoreCMS.Framework.pdb -text
Modules.UrlMapper.Website/sitecore[!!-~]modules/Shell/Unic/UrlMapper/Import[!!-~]Dialog[!!-~]Frame.aspx -text
Modules.UrlMapper.Website/sitecore[!!-~]modules/Shell/Unic/UrlMapper/Import[!!-~]Dialog[!!-~]Frame.aspx.cs -text
Modules.UrlMapper.Website/sitecore[!!-~]modules/Shell/Unic/UrlMapper/Import[!!-~]Dialog[!!-~]Frame.aspx.designer.cs -text
Modules.UrlMapper.Website/sitecore[!!-~]modules/Shell/Unic/UrlMapper/Import[!!-~]Dialog.aspx -text
Modules.UrlMapper.Website/sitecore[!!-~]modules/Shell/Unic/UrlMapper/Import[!!-~]Dialog.aspx.cs -text
Modules.UrlMapper.Website/sitecore[!!-~]modules/Shell/Unic/UrlMapper/Import[!!-~]Dialog.aspx.designer.cs -text
Modules.UrlMapper.Website/sitecore[!!-~]modules/Shell/Unic/UrlMapper/Import[!!-~]Wizard.cs -text
Modules.UrlMapper.Website/sitecore[!!-~]modules/Shell/Unic/UrlMapper/ImportWizard.xml -text
Modules.UrlMapper.Website/sitecore[!!-~]modules/Shell/Unic/UrlMapper/OpenWizard.cs -text
Modules.UrlMapper/Pipelines/HttpRequest/UrlMapping.cs -text
Modules.UrlMapper/Properties/AssemblyInfo.cs -text
Modules.UrlMapper/Security/Filter/BaseFilter.cs -text
Modules.UrlMapper/Security/Filter/FastQueryFilter.cs -text
Modules.UrlMapper/Unic.SitecoreCMS.Modules.UrlMapper.csproj -text
