<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="ContentSearch.Solr.ServiceBaseAddress" set:value="http://127.0.0.1:8983/solr" />
      <setting name="ContentSearch.Solr.EnableHttpCache" set:value="false" />
    </settings>
    
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes>
          <index id="sitecore_analytics_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_core_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_master_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_marketing_asset_index_master" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_marketing_asset_index_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_marketingdefinitions_master" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_marketingdefinitions_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_testing_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_suggested_test_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_fxm_master_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_fxm_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="sitecore_list_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="social_messages_master" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="social_messages_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="urlmapper_master" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>

          <index id="urlmapper_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="core">urlmapper</param>
          </index>
        </indexes>
      </configuration>

      <indexConfigurations>
        <defaultSolrIndexConfiguration>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_basetemplates" returnType="guidCollection">
                Unic.UrlMapper.Core.Indexing.Fields.BaseTemplatesComputedField, Unic.UrlMapper.Core
              </field>
            </fields>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>

    <pipelines>
      <initialize>
        <processor type="Unic.UrlMapper.Integration.Website.Pipelines.Initialize.InitializeSolrContainer, Unic.UrlMapper.Integration.Website"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>