<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>

    <unicorn>
      <configurations>
        <configuration name="Unic.Modules.UrlMapper">
          <targetDataStore physicalRootPath="$(repositoryRoot)\serialization\modules\urlmapper" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Templates" database="master" path="/sitecore/templates/UrlMapper" />
            <include name="StartMenu" database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Programs/Redirect Importer" />

          </predicate>
        </configuration>

        <configuration name="Unic.Modules.UrlMapper.Roles">
          <roleDataStore physicalRootPath="$(repositoryRoot)\serialization\roles\urlmapper" type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" singleInstance="true"/>
          <predicate type="Unicorn.Roles.Predicates.EmptyPredicate, Unicorn.Roles" singleInstance="true" />

          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="sitecore" pattern="^Redirect Importer$" />
          </rolePredicate>

          <roleSyncConfiguration removeOrphans="true" type="Unicorn.Roles.Loader.DefaultRoleSyncConfiguration, Unicorn.Roles" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
    
	</sitecore>
</configuration>