<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <urlMapperSolrIndexConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
          <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="redirect_url" returnType="string" />
              <field fieldName="permanent_redirect" returnType="bool" />
              <field fieldName="match_start" returnType="bool" />
              <field fieldName="ignore_suffix" returnType="bool" />
            </fieldNames>
          </fieldMap>
          <documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="search_url_lowercase_untokenized" returnType="string">
                Unic.UrlMapper.Core.Indexing.Fields.SearchUrlLowerCaseUntokenizedField, Unic.UrlMapper.Core
              </field>
              <field fieldName="redirect_url_lowercase_untokenized" returnType="string">
                Unic.UrlMapper.Core.Indexing.Fields.RedirectUrlLowerCaseUntokenizedField, Unic.UrlMapper.Core
              </field>
            </fields>
          </documentOptions>
        </urlMapperSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>