<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                  type="Unic.UrlMapper.Core.Pipelines.HttpRequest.UrlMapping, Unic.UrlMapper.Core" />
            </httpRequestBegin>
        </pipelines>
        <commands>
            <command name="urlmapping:openwizard" type="Unic.UrlMapper.Website.sitecore_modules.Shell.Unic.UrlMapper.OpenWizard,Unic.UrlMapper.Website" />
        </commands>
        <settings>
            <setting name="UrlMapper.CsvHeaders"  set:value="Name;SearchUrl;RedirectUrl;SubFolder" />
            <setting name="UrlMapper.FolderTemplateId" set:value="{27A7F5CD-E5BA-4F43-85DB-9368FBEC3BE2}" />
            <setting name="UrlMapper.ItemTemplateId" set:value="{5772872C-D96C-4B09-90D5-D80BF79B2F17}" />
            <!-- The following settings must be set by the implementing solution. See urlmapper readme for more information. -->
            <!--<setting name="UrlMapper.RootFolder"  set:value="{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}" />-->
            <!--<setting name="UrlMapper.IndexName" set:value="urlmapper_master" />-->
        </settings>
    </sitecore>
</configuration>