<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                  type="Unic.SitecoreCMS.Modules.UrlMapper.Pipelines.HttpRequest.UrlMapping, Unic.SitecoreCMS.Modules.UrlMapper" />
            </httpRequestBegin>
        </pipelines>
        <commands>
            <command name="urlmapping:openwizard" type="Unic.SitecoreCMS.Modules.UrlMapper.Website.sitecore_modules.Shell.Unic.UrlMapper.OpenWizard,Unic.SitecoreCMS.Modules.UrlMapper.Website" />
        </commands>
        <settings>
            <setting name="UrlMapper.CsvHeaders"  value="Name;SearchUrl;RedirectUrl" />
            <setting name="UrlMapper.RootFolder"  value="{0DC48805-AA61-46B8-A43E-F9AC70403131}" />
            <setting name="UrlMapper.FolderTemplateId" value="{27A7F5CD-E5BA-4F43-85DB-9368FBEC3BE2}" />
            <setting name="UrlMapper.ItemTemplateId" value="{5772872C-D96C-4B09-90D5-D80BF79B2F17}" />
        </settings>
    </sitecore>
</configuration>