<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>

    <unicorn>
      <configurations>
        <configuration name="Unic.Modules.UrlMapper">
          <targetDataStore physicalRootPath="$(repositoryRoot)\src\modules\urlmapper\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Templates" database="master" path="/sitecore/templates/UrlMapper" />
            <include name="StartMenu" database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Programs/Redirect Importer" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
    
	</sitecore>
</configuration>